@charset "utf-8";
/* CSS Document */
@-webkit-keyframes loadinganimation {
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}


body{
	-webkit-animation:loadinganimation 5s 1;
	margin:0px;
	background-image:url(../../images/shine.jpg);
	background-position:top left;
	background-size:100% 900px;
	background-repeat:no-repeat;
	background-attachment:fixed;
	width:100%;
	height:100%;
}

#loginwrapper{
	position:relative;
	top:100px;
	text-align:center;
	padding:8px;
	width:500px;
	height:300px;
	background:transparent;
	-webkit-box-shadow: 0px 0px 1px 1px #999;
	-moz-box-shadow: 0px 0px 1px 1px #999;
	box-shadow: 0px 0px 1px 1px #999;
}

#facebooklogin{
	background:#FFF;
	width:500px;
	height:300px;
}

#loginbutton{
	height:200px;
}

#loginbutton a img{
	vertical-align:middle;
   	margin-left:-10px; /* Half the width */
	margin-top:-4px;
	padding-right:5px;
	margin-right:20px;
	border-right-color:#FFF;
	border-right-style:solid;
}

#loginbutton a{
	text-decoration:none;
	color:#FFF;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size:18px;
	width:200px;
	top:75px;
	position:relative;
	padding:20px;
	background-color: #1A356E;
	-webkit-box-shadow: 0px 0px 10px 1px #999;
	-moz-box-shadow: 0px 0px 10px 1px #999;
	box-shadow: 0px 0px 10px 1px #999;
	border-top-left-radius:8px;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	border-top-right-radius:8px;
}

#loginbutton a:hover{
	background-color: #3B5998;
}